<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RMQClient.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AE607C6D1C3C0FA100BE9AC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AEE7FE901C3BCA6000DF8C4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AEE7FE9A1C3BCA6000DF8C4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
